force-app/main/default/flows/Candidate_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Experience_Assignment</name>
        <label>Experience Assignment</label>
        <locationX>775</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>CandidateToInsert.Currently_Employed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currently_Employed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CandidateToInsert.Current_Employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Employer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CandidateToInsert.Years_of_Experience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Years_of_Experience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CandidateToInsert.Education__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Education</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Candidate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Candidate_Exists</name>
        <label>Candidate Exists</label>
        <locationX>697</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Candidate_s_Contact_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Candidate Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Candidate_Already_in_System</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Candidate_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_Already_Exists</targetReference>
            </connector>
            <label>Candidate Already in System</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>EducationChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Education__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Candidate Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Candidate Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Candidate</name>
        <label>Create Candidate</label>
        <locationX>419</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Candidate_Created</targetReference>
        </connector>
        <inputReference>CandidateToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Candidate_Check</name>
        <label>Candidate Check</label>
        <locationX>561</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Candidate_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateToInsert.First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateToInsert.Last_Name__c</elementReference>
            </value>
        </filters>
        <object>Candidate__c</object>
        <outputReference>OldCandidate</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Candidate_Already_Exists</name>
        <label>Candidate Already Exists</label>
        <locationX>587</locationX>
        <locationY>266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Candidate_Name</targetReference>
        </connector>
        <fields>
            <name>ExistsMessage</name>
            <fieldText>&lt;p&gt;the candidate with that name already exists. please enter a different name.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Candidate_Created</name>
        <label>Candidate Created</label>
        <locationX>144</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
        <fields>
            <name>CandidateCreated</name>
            <fieldText>&lt;p&gt;The candidate you entered,&lt;/p&gt;&lt;p&gt;{!CandidateToInsert.First_Name__c}, {!CandidateToInsert.Last_Name__c}, has been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Candidate_Name</name>
        <label>Candidate Name</label>
        <locationX>433</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Candidate_Check</targetReference>
        </connector>
        <fields>
            <name>FullName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CandidateToInsert.First_Name__c</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CandidateToInsert.Last_Name__c</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Candidate_s_Contact_Information</name>
        <label>Candidate&apos;s Contact Information</label>
        <locationX>922</locationX>
        <locationY>99</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Experience_and_Education</targetReference>
        </connector>
        <fields>
            <name>CandidatePhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CandidateToInsert.Phone__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CandidateMobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Phone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CandidateToInsert.Mobile__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CandidateEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CandidateToInsert.Email__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Experience_and_Education</name>
        <label>Experience and Education</label>
        <locationX>921</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Experience_Assignment</targetReference>
        </connector>
        <fields>
            <name>Years_of_Experience</name>
            <dataType>Number</dataType>
            <fieldText>Years of Experience</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Currently_Employed</name>
            <dataType>Boolean</dataType>
            <fieldText>Currently Employed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Current_Employer</name>
            <dataType>String</dataType>
            <fieldText>Current Employer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Education</name>
            <choiceReferences>EducationChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Education</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>147</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Candidate_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CandidateToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Candidate__c</objectType>
    </variables>
    <variables>
        <name>OldCandidate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Candidate__c</objectType>
    </variables>
</Flow>
