force-app/main/default/flows/Position_Dynamic_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Remove_Approvers</name>
        <label>Remove Approvers</label>
        <locationX>701</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>varPosition.Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPosition.Approver_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPosition.Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Position</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approvers</name>
        <label>Set Approvers</label>
        <locationX>279</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>varPosition.Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRouting.Approver_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPosition.Approver_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRouting.Approver_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPosition.Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRouting.Approver_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Position</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Approvers</name>
        <label>Are there Approvers?</label>
        <locationX>470</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>Set_Approvers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Approvers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRouting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Approvers</targetReference>
            </connector>
            <label>No Approvers</label>
        </rules>
    </decisions>
    <interviewLabel>Position Dynamic Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Position Dynamic Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Position_Approvers</name>
        <label>Lookup Position Approvers</label>
        <locationX>479</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Approvers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPosition.Department__c</elementReference>
            </value>
        </filters>
        <object>Position_Approval_Routing__c</object>
        <outputReference>varRouting</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approver_1__c</queriedFields>
        <queriedFields>Approver_2__c</queriedFields>
        <queriedFields>Approver_3__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Position</name>
        <label>Update Position</label>
        <locationX>582</locationX>
        <locationY>405</locationY>
        <inputReference>varPosition</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Position_Approvers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varPosition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Position__c</objectType>
    </variables>
    <variables>
        <name>varRouting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Position_Approval_Routing__c</objectType>
    </variables>
</Flow>
